<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Receptionist Dashboard</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ totalVisitorsToday }}</h3>
              <p>Total Registered visitors today</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a routerLink="/projects" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ unattendedVisitors }}</h3>
              <p>Free Departments</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a routerLink="/projects" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ unattendedVisitors }}</h3>
              <p>Visitors on Waiting</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a routerLink="/projects" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ activeSessions }}</h3>
              <p>Total Active Sessions</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs) -->
          <div class="card bg-gradient-info">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-th mr-1"></i>
                Weekly Visitors
              </h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table *ngIf="allVisitors?.length > 0" datatable class="row-border hover table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Visitor Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let appointment of allVisitors">
                    <td>{{ appointment?.visitor?.visitorid || 'N/A' }}</td>
                    <td>{{ appointment?.visitor?.visitorname || 'N/A' }}</td>
                    <td>{{ appointment?.visitor?.email || 'N/A' }}</td>
                    <td>{{ appointment?.department || 'N/A' }}</td>
                    <td>{{ appointment?.appointmentstatus || 'N/A' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card -->
        </section>
        <!-- /.Left col -->

        <!-- right col -->
        <section class="col-lg-5 connectedSortable">
          <!-- Map card -->
          <div class="card bg-gradient">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-person-alt mr-1"></i>
                Visitors
              </h3>
              <div class="card-tools">
                <button type="button" class="btn btn-primary btn-sm daterange" title="Date range">
                  <i class="far fa-calendar-alt"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-footer bg-transparent">
              <canvas id="line-chart" height="200"></canvas>
            </div>
          </div>
          <!-- Department list card -->
          <div class="card bg-gradient">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="far fa-calendar-alt"></i>
                Department List
              </h3>
            </div>
            <div class="card-body pt-0">
              <div class="mb-3">
                <div class="row">
                  <div class="col-md-3">
                    <select class="form-control" [(ngModel)]="itemsPerPage" (ngModelChange)="getDepartmentList()">
                      <option *ngFor="let option of [5, 10, 15, 20]" [value]="option">{{ option }} rows per page</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dept of department | slice:0:itemsPerPage">
                      <td>{{ dept.department_id || 'N/A' }}</td>
                      <td>{{ dept.departmentname || 'N/A' }}</td>
                    </tr>                
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
