    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Checkin Customer</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Chekin</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
    
    <div class="col-md-8">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Chekin</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        
        <div class="card-body">
          <!-- ID Input -->
          <div class="form-group my-3">
            <label for="inputId" class="form-label">ID Number</label>
            <input type="number" id="inputId" class="form-control my-2" [(ngModel)]="id">
            <button (click)="getVisitorDetails()" class="btn btn-primary">Get Visitor Details</button>
          </div>
          
          <!-- Display Error Message -->
          <div *ngIf="error" class="alert alert-danger">
            {{ error }}
          </div>
          
          <!-- Display Visitor Details -->
          <div *ngIf="visitorDetails">
            <p>ID: {{ visitorDetails.id }}</p>
            <p>Name: {{ visitorDetails.name }}</p>
            <p>Company: {{ visitorDetails.company }}</p>
            <p>Reason for Visit: {{ visitorDetails.reasonForVisit }}</p>
            <p>Time for Visit: {{ visitorDetails.timeForVisit }}</p>
          </div>

           
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-start position-relative">
            <!-- Check-in Button -->
            <div class="form-group my-3">
                <button (click)="checkIn()" class="btn btn-primary">Check In</button>
            </div>
            <!-- Check-out Button -->
            <div class="form-group my-3 position-absolute" style="right: 50%;">
                <button (click)="checkOut()" class="btn btn-success">Check Out</button>
            </div>
        </div>
    </div>
    </section>
    <!-- /.content -->
